@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
    background: linear-gradient(90deg, #62dcfb 0%, #eb5569 100%);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
